html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
}

#gameArea {
    margin: 0 auto;
    max-width: 800px;
    padding: 15px;
    background-color: #c4dfe6;
    border-radius: 25px;
}

.fields {
    display: flex;
}

.symbolsHoriz {
    width: 96%;
    font-size: 20px;
    display: flex;
}

.symbolsVert {
    width: 5%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 67px;
    margin-bottom: 20px;
    user-select: none;
}

#gameArea .numbers,
#gameArea .symbols {
    font-size: 20px;
    text-align: center;
}

#gameArea .playerInfo,
#gameArea .botInfo {
    font-size: 20px;
    text-align: center;
    width: 95%;
    font-weight: bold;
    padding: 0 0 7px 0;
}

#gameArea .botGameArea,
#gameArea .playerGameArea {
    user-select: none;
    width: 45%;
    float: left;
    padding: 0;
    display: block;
    margin-bottom: 20px;
}

#gameArea .footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameArea .informationArea {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 10px;
}

#gameArea .informationAreaWin {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
    background: #07575b;
    color: #fff;
    border-radius: 15px;
    padding: 13px 0;
}

#gameArea .gameField {
    margin: 5px 15px 0 0;
    display: block;
    padding: 0;
}

#gameArea .gameField div {
    margin: -1px;
    display: block;
    position: relative;
    float: left;
    background-color: #fcfcfc;
    border: 1px solid #003b46;
    text-align: center;
    color: #003b46;
}

#gameArea .gameField .ship {
    background-color: #66a5ad;
}

#gameArea .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #357ebd;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.4;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.2em;
    color: #fff;
    background-color: #07575b;
}

#gameArea {
    margin: 50px auto;
}

.container {
    background: #66a5ad;
    color: #fff;
    margin: 50px auto;
    width: 550px;
    height: 220px;
    left: calc(50% - 500px/2);
    top: 50px;
    border-radius: 25px;
    padding: 20px;
}

.flex-outer {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

li:not(:last-child) {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

label {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .05em;
    text-transform: uppercase;
    flex: 1 0 100px;
    font: 18px "Lucida Sans Unicode";
}

input {
    border-radius: 15px;
    flex: 1 0 220px;
    padding: 15px;
    border: none;
}

li:last-child {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
}

button {
    padding: 6px 12px;
    background: #333;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #357ebd;
    white-space: nowrap;
    line-height: 1.4;
    border-radius: 10px;
    user-select: none;
    font-size: 20px;
    background-color: #07575b;
}